/* Margins Master Style Sheet by Larry Judd 2012 http://tradesouthwest.com */
/* creative commons available on sourceforge.net tradesouthwest */

/* Note, some margins you set may have to be cleared at the end of 
its div to keep your original styles in place */

/* set element selector for any class with marg- as prefixer 
must have some width defined for any margin to work - at all - and for this, width can
not be 100 percent or margin rules are not valid. Using 99.4 as default works for most
all browsers and style sheets. 99.9 does not work if there is any padding at all. */

div[class*="marg-"] {position:relative; width:99.4%; overflow:hidden; }

.marg-clear {margin:0 !important; }
.marg-fcntr {margin:0 auto; }
.marg-fleft {float:left; margin-right:auto; }
.marg-fright {float:right; margin-left:auto; }

.marg-tcntr {text-align:center; }
.marg-tleft {text-align:left; }
.marg-tright {text-align:right; }

.marg-cntr {margin:0 auto; width:99.4%; }
.marg-cntr-l2 {margin:0 auto 0 2em; }
.marg-cntr-r2 {margin:0 2em 0 auto; }

.marg-l {margin-right:50%; }
.marg-r {margin-left:50%; }

.marg-l1 {margin-left:1em; } 
.marg-l2 {margin-left:2em; } 
.marg-l3 {margin-left:3em; } 
.marg-l4 {margin-left:4em; } 
.marg-l5 {margin-left:5em; } 
.marg-l6 {margin-left:6em; } 
.marg-l7 {margin-left:7em; } 
.marg-l8 {margin-left:8em; }
.marg-l9 {margin-left:9em; }  
.marg-lm1 {margin-left:-1em; } 
.marg-lm2 {margin-left:-2em; } 
.marg-lm3 {margin-left:-3em; } 
.marg-lm4 {margin-left:-4em; }
.marg-lm5 {margin-left:-5em; } 
.marg-lm6 {margin-left:-6em; } 
.marg-lm7 {margin-left:-7em; } 
.marg-lm8 {margin-left:-8em; }
.marg-lm9 {margin-left:-9em; }  

.marg-r1 {margin-right:1em; }
.marg-r2 {margin-right:2em; }
.marg-r3 {margin-right:3em; }
.marg-r4 {margin-right:4em; }
.marg-r5 {margin-right:5em; }
.marg-r6 {margin-right:6em; }
.marg-r7 {margin-right:7em; }
.marg-r8 {margin-right:8em; }
.marg-r9 {margin-right:9em; }
.marg-rm1 {margin:0 -1em 0 1em }
.marg-rm2 {margin:0 -2em 0 2em  }
.marg-rm3 {margin:0 -3em 0 3em  }
.marg-rm4 {margin:0 -4em 0 4em  }
.marg-rm5 {margin:0 -5em 0 5em }
.marg-rm6 {margin:0 -6em 0 6em  }
.marg-rm7 {margin:0 -7em 0 7em  }
.marg-rm8 {margin:0 -8em 0 8em  }
.marg-rm9 {margin:0 -9em 0 9em  }


.marg-t1 {margin-top:1em; }
.marg-t2 {margin-top:2em; }
.marg-t3 {margin-top:3em; }
.marg-t4 {margin-top:4em; }
.marg-t5 {margin-top:5em; }
.marg-t6 {margin-top:6em; }
.marg-t7 {margin-top:7em; }
.marg-t8 {margin-top:8em; }
.marg-t9 {margin-top:9em; }
.marg-tm1 {margin-top:-1em; }
.marg-tm2 {margin-top:-2em; }
.marg-tm3 {margin-top:-3em; }
.marg-tm4 {margin-top:-4em; }
.marg-tm5 {margin-top:-5em; }
.marg-tm6 {margin-top:-6em; }
.marg-tm7 {margin-top:-7em; }
.marg-tm8 {margin-top:-8em; }
.marg-tm9 {margin-top:-9em; }

.marg-b1 {margin-bottom:1em; }
.marg-b2 {margin-bottom:2em; }
.marg-b3 {margin-bottom:3em; }
.marg-b4 {margin-bottom:4em; }
.marg-b5 {margin-bottom:5em; }
.marg-b6 {margin-bottom:6em; }
.marg-b7 {margin-bottom:7em; }
.marg-b8 {margin-bottom:8em; }
.marg-b9 {margin-bottom:9em; }
.marg-bm1 {margin-bottom:-1em; }
.marg-bm2 {margin-bottom:-2em; }
.marg-bm3 {margin-bottom:-3em; }
.marg-bm4 {margin-bottom:-4em; }
.marg-bm5 {margin-bottom:-5em; }
.marg-bm6 {margin-bottom:-6em; }
.marg-bm7 {margin-bottom:-7em; }
.marg-bm8 {margin-bottom:-8em; }
.marg-bm9 {margin-bottom:-9em; }

/* bonus text and background style - red, green, blue, yellow, black, grey, white */
.tda {color:#aab; } //light-grey
.tdr {color:#900; } //red
.tdg {color:#070; } //green
.tdb {color:#01c; } //blue
.tdy {color:#ff8; } //yellow
.tdk {color:#000; } //black
.tdj {color:#999; } //grey
.tdw {color:#fff; } //white
.bga {background-color:#aab; }
.bgr {background-color:#900; }
.bgg {background-color:#070; }
.bgb {background-color:#01c; }
.bgy {background-color:#ff8; }
.bgk {background-color:#000; }
.bgj {background-color:#999; }
.bgw {background-color:#fff; }

/*end tradesouthwest style sheet - thanks and do not forget the back-link! */